html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
}

.fighters
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    background-image: url('https://imgur.com/2OcJ4J0');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 220px;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#fighter-modal .title {
    text-align: center;
}

#name_field {
    margin-bottom: 20px;
}

.label-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.label-wrap progress {
    width: 70%;
}

.healthbar-container {
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.healthbar-container progress {
    width: 100%;
    margin-top: 20px;
}

.healthbar-container .name {
    width: 45%;
    color: yellow;
}

.dummy {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#winner-modal {
    width: 500px;
}

#winner-modal form {
    text-align: center;
}

#winner-modal .dialog-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#winner-modal .title {
    text-align: center;
    margin-bottom: 50px;
}

#winner-modal i {
    padding-bottom: 50px;
}

.nes-btn.is-primary {
    background-color: transparent;
}